@import url("https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap");

:root {
  --mainColor: #1976d2;
}

body {
  background-color: rgba(25, 118, 210, .4);
}

.body {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  color: var(--mainColor);
}
.app {
  font-family: "Mali", cursive;
  background-color: floralwhite;
  min-height: 700px;
  padding: 50px;
  border-radius: 10px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.poke-name {
  font-size: 1.8rem;
  color: var(--mainColor);
}

.img-container {
  background-color: rgba(25, 118, 210, .1);
  border-radius: 10px;
}

.sprite-img {
  min-width: 60%;
}

.stats-container {
  margin-top: 1rem;
  color: var(--mainColor);
}