@import url("https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap");

:root {
  --mainColor: #1976d2;
}

body {
  background-color: rgba(25, 118, 210, .4);
}

.body {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  color: var(--mainColor);
}
.app {
  font-family: "Mali", cursive;
  background-color: floralwhite;
  min-height: 700px;
  padding: 50px;
  border-radius: 10px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.poke-name {
  font-size: 1.8rem;
  color: var(--mainColor);
}

.img-container {
  background-color: rgba(25, 118, 210, .1);
  border-radius: 10px;
}

.sprite-img {
  min-width: 65%;
}

.stats-container {
  margin-top: 1rem;
  color: var(--mainColor);
}

#html-spinner{
  width:40px;
  height:40px;
  border:4px solid white;
  border-top:4px solid var(--mainColor);
  border-radius:50%;
  margin: 30px auto;
}

#html-spinner {
  -webkit-transition-property: -webkit-transform;
  /* -webkit-transition-duration: 1.2s; */
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  
  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 1.2s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  
  transition-property: transform;
  animation-name: rotate; 
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}